html {
    box-sizing: border-box;
}

html, body, div, form {
    background-color: purple;
    font-weight: bold;
    color: #fff;
}

input {
    color: #000;
}

#progress-bar-container {
    border: 1px solid black;
    width: 500px;
    position: relative;
    height: 50px;
}
#progress-bar {
    background-color: blue;
    50px;
}

.fa-minus-square {
    margin-left: 10px;
    color: red;
}

.fa-minus-square:hover {
    cursor: pointer;
}

form {
    display: inline-block;
}

.current-count {
    font-size: 48px;
}